		<div class='footer'></div>
		<div class='footer'>
			<span class='footer pull-right text-muted small'>Copyright &copy; <a href="http://www.wdt.is">WellDone Technology, Inc.</a> 2016.  All rights reserved.</span>
		</div>
  </body>
</html>